{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}


<li class="area">
	<div class="title"><a href="/area/{{ area.slugForUrl }}">{{ area.title }}</a></div>
	<div class="afterAreaListing"></div>
</li>
