{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Add an Event - {% endblock %}

{% block breadcrumbs %}
	{% if not config.isSingleSiteMode %}<li><a href="/">{{ currentSite.title }}</a></li>{% endif %}
	<li class="current"><a href="/event">events</a></li>
{% endblock %}

{% block content %}

	<h3>Add an event</h3>

	<p>Please help everyone by adding any events you know of.</p>

	<p>Please only add events that:</p>

	{%  include 'eventRules.html.twig' %}

	<div class="bigButtonContainer">
		<a  class="button" href="{{ config.getWebIndexDomainSecure() }}/you/login">Login</a>
		<a  class="button" href="{{ config.getWebIndexDomainSecure() }}/you/register">Register</a>
	</div>

{% endblock %}



