{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<p>We only list <strong>independent</strong> events. We believe such events are more likely to promote frank and full debate and are more informative for voters.</p>

<p>Please only list events which either:</p>

<ol class="normal">
	<li>Have representatives of more than one political party speaking</li>
	<li>Are organised by a non-partisan group who works with candidates of more than one party.</li>
</ol>
