{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<ol class="normal">
	<li>Are open to the general public, regardless of membership or lack of membership of a particular group and</li>
	<li>Have representatives of more that one political party speaking or are run by an independent body.</li>
</ol>
