{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}


{% block pageTitle %}For Media - {% endblock %}

{% block htmlHeader %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block breadcrumbs %}
	<li class="current"><a href="/formedia">for media</a></li>
{% endblock %}

{% block content %}

	<div id="innerPageWrapper">
		<div id="innerPage">

			<h3>For Media</h3>

			<p>Below are links to image files and our press releases. If you have any further questions, <a href="/contact">please contact us directly</a>!</p>

			<ul>
				<li><a href="logoOnWhite.png">Our Logo On White (PNG)</a></li>
				<li><a href="logoOnTransparent.png">Our Logo On Transparent (PNG)</a></li>
			</ul>


			<h3>Press Release, 27th Mar 2015</h3>

			<p>Most General Election Hustings will happen on Thursday 23rd April</p>

			<p style="font-style: italic;">Press release for immediate release</p>

			<p>MOST General Election Hustings will happen on Thursday 23rd April, predicts MeetYourNextMP.</p>

			<p>MeetYourNextMP is a website that lists hustings events happening for the general election. Voters can easily look up events in their seat and go and question their candidates.</p>

			<p>With a total of 425 events listed across 200 seats, Thursday 23rd April is emerging as the most popular day for hustings with 27 events.</p>

			<p>MeetYourNextMP gets details of events by allowing candidates and members of the public to list hustings events around the country. This is the same “crowd sourcing” process that sites like Wikipedia use.</p>

			<p>MeetYourNextMP is supported by Democracy Club, who are a non-partisan group who work around elections. They also work on a list of candidates, an archive of election leaflets and a repository of candidates CVs.</p>

			<p>James Baster from MeetYourNextMP said: “We’d like to encourage all voters to get out to an event where they can hear from their candidates before making up their mind, whether on the 23rd or any other day! We would like to make hustings feel accessible to everyone and the first thing to do is make it easy to find out when they are on.”</p>

			<ul  class="normal">
				<li>MeetYourNextMP - <a href="http://meetyournextmp.com/">http://meetyournextmp.com/</a></li>
				<li>Contact MeetYourNextMP - <a href="http://meetyournextmp.com/contact">http://meetyournextmp.com/contact</a></li>
				<li>Democracy Club - <a href="https://democracyclub.org.uk/about/">https://democracyclub.org.uk/about/</a></li>
				<li>Latest numbers and “most popular day” prediction - <a href="http://meetyournextmp.com/numbers/">http://meetyournextmp.com/numbers/</a></li>
			</ul>

			<h3>Press Release, 26th Feb 2015</h3>

			<p>New site launches to help people find hustings events at the general election.</p>

			<p style="font-style: italic;">Press release for immediate release</p>

			<p>VOTERS will find it easy to meet and grill their political candidates ahead of the general election thanks to a newly launched website.</p>

			<p>MeetYourNextMP works by allowing members of the public to list husting events around the country. This is the same “crowd sourcing” process sites like Wikipedia use.</p>

			<p>The site at MeetYourNextMP.com boasts an easy to use web interface for people to add local events they know about.</p>

			<p>Events are then made available on the easy to browse web site.</p>

			<p>They also encourage other organisations to take the event data and reuse it - for example to encourage their own members to engage with the election more.</p>

			<p>MeetYourNextMP also provides a space for those who want to organise a husting to post and connect with others in their local area.</p>

			<p>MeetYourNextMP is also keen to encourage genuine debate so it only lists independent events where the public will really get the chance to question their candidates.</p>

			<p>James Baster, Director at MeetYourNextMP said: “If the Scottish Referendum with its 85% turnout proved anything, it’s that people will get involved with politics when they see it as important and interesting.</p>

			<p>“At this general election, the choice facing the country has never been more important and we want to encourage people to get involved with local and national politics.”</p>

			<p>MeetYourNextMP is supported by Democracy Club, who are a non-partisan group who work around elections.</p>

			<p>Democracy Club are also working on YourNextMP, a list of all candidates standing (3000+ so far) that journalists, researchers and campaign groups can use for free. This was built using the same crowd sourcing process by asking members of the public to submit candidates they know about.</p>

			<p>Sym Roe, Director at Democracy Club said: “People can be forgiven for not voting when access to information on who to vote for, where to vote, or what the candidates’ opinions are is so hard to get.</p>

			<p>“Tools like MeetYourNextMP really start to close this information gap, so it's very important to get as much information on the site as we can”.</p>

			<p>MeetYourNextMP is based on existing technology called Open Tech Calendar from an Edinburgh based company, JMB Technology Limited.</p>

			<p>JMB Technology Limited are about to celebrate the third birthday of Open Tech Calendar - a community calendar for computer programmers and other technical people to list events.</p>

			<p>This has been very successful and was shortlisted for a Creative Edinburgh award.</p>

			<p>It is the first time this technology has been used for elections, but there has already been interest in expanding the technology to Canada for elections this autumn.</p>

			<p>A Scottish version, MeetYourNextMSP, is also planned for launch in 2016.</p>

			<ul class="normal">
				<li>MeetYourNextMP - <a href="http://meetyournextmp.com/">http://meetyournextmp.com/</a></li>
				<li>Contact MeetYourNextMP - <a href="http://meetyournextmp.com/contact">http://meetyournextmp.com/contact</a></li>
				<li>YourNextMP - <a href="https://yournextmp.com/">https://yournextmp.com/</a></li>
				<li>Democracy Club - <a href="https://democracyclub.org.uk/about/">https://democracyclub.org.uk/about/</a></li>
				<li>Open Tech Calendar - <a href="https://democracyclub.org.uk/about/">https://democracyclub.org.uk/about/</a></li>
				<li>Creative Edinburgh Award for Open Tech Calendar - <a href="http://blog.opentechcalendar.co.uk/2013/11/13/shortlisted-for-creative-edinburgh-unite-award/">http://blog.opentechcalendar.co.uk/2013/11/13/shortlisted-for-creative-edinburgh-unite-award/</a></li>
			</ul>

		</div>
	</div>

{% endblock %}

