{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
{% extends 'site/page.html.twig' %}

{% block pageTitle %}Welcome - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebSiteDomainSecure(currentSite.slug) }}/" />
	<link rel="alternate"  type="text/calendar" title="{{ currentSite.title | escape('html_attr') }}" href="/api1/events.ical" />
	{% if not currentSite.isWebRobotsAllowed %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{# no breadcrumbs on front page. Ppl know where they are. Apparently it confuses ppl #}
{% endblock %}


{% block content %}

	<div id="innerPageWrapper">
		<div id="innerPage">

			<div class="innerPageLeft">
				<p>We want to help everyone meet their candidates and make an informed choice at the UK general election. We list events and hustings that:</p>

				{%  include 'eventRules.html.twig' %}

				<p>
					{% if currentUserActions.has("org.openacalendar","eventNew") or ( currentUser is null and anyVerifiedUserActions.has("org.openacalendar","eventNew") ) %}
						We crowd source the data by asking people like you to <a href="/event/new">add events they know of</a>.
					{%  endif %}
					We make all the data available as Open Data for reuse by anyone who wants to publicse such events.
				</p>

				{% if currentUser is null %}
					<p>Please <a href="{{ config.getWebIndexDomainSecure() }}/you/register">create an account</a> to add events using our easy web process.</p>
				{%  endif %}

			</div>

			<div class="innerPageRight">
				<div class="infoBoxWrapper">
					<div class="infoBoxTitle">Your seat</div>
					<div class="infoBoxContent">
						<p>What is your postcode?</p>
						<form action="/postcode/" method="get">
							<input type="text" name="postcode" placeholder="eg EH1 1EG">
							<input type="submit" value="Find my events!">
						</form>
						<p>Or <a href="/seat">browse a list of seats</a>.</p>
					</div>
				</div>


			</div>

			<div class="afterInnerPageContent"></div>

			<ul class="mainListEvents">
				<li class="export">
					<a href="/api1/events.ical" onclick="showExportPopup(); return false;">
						<div class="iconDownloadSmall"></div> export
					</a>
					{% if currentSite.getIsWebRobotsAllowed %}
						<a href="#" onclick="showSharePopup(); return false;">
							<div class="iconShareSmall"></div> share
						</a>
					{% endif %}
				</li>
				{% for event in events %}
					{% include '/site/common/mainListEvent.html.twig' with {'event':event, 'showCurrentUserOptions':true, 'showVenueAndArea':true}  %}
				{% endfor %}
			</ul>

		</div>
	</div>

{% endblock %}

{% block scriptsForState %}
	<script type="text/javascript">var exportData = {}</script>
{% endblock %}

	
{% block scripts %}
	<script type="text/javascript" src="/theme/default/js/userAtEvents.site.js?v={{ config.assetsVersion }}"></script>
{% endblock %}



