{#
 # @package com.meetyournextmp
 # @license Closed Source
 # @copyright (c) 2013-2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}
<div id="footer">
	<div id="footerContents">
		<p>By <a href="http://jmbtechnology.co.uk/">JMB Technology Limited</a>. Scottish Company SC440747.</p>
		<p>Support gratefully received from <a href="https://democracyclub.org.uk/">Democracy Club</a>.</p>
		<p>
			<a href="/about">About Us</a> -
			<a href="/contact">Contact Us</a> -
			<a href="/numbers">Numbers</a> -
			<a href="/privacy">Privacy</a> -
			<a href="/terms">Terms</a>
		</p>
	</div>
</div>

